.amazon-sign-in{
    width: 25%;
}

.amazon-sign-in .amazon-logo-signin img{
    width: 130px;
}

.amazon-sign-in .amazon-logo-signin .dot-in{
    position: relative;
    right: 0.7rem;
    bottom: 2px;
    font-size: 13px;
    color: black;
    font-family: emberMedium;
}

.amazon-sign-in .sign-in-form{
    border-radius: 5px;
}

.amazon-sign-in .sign-in-form h3{
    font-family: emberMedium;
    color: black;
}

.amazon-sign-in .sign-in-form label{
    font-family: emberBold;
    color: black;
    font-size: 13px;
}

.amazon-sign-in .sign-in-form .t-c{
   font-size: 11.5px;
   font-family: emberMedium;
}

.amazon-sign-in .sign-in-form a{
    text-decoration: none;
}

.amazon-sign-in .sign-in-form a:hover, .auth-footer a:hover{
    color: var(--info);
    text-decoration: underline;
}

.amazon-sign-in .sign-in-form .amz-need-help{
    font-size: 13px;
    font-family: emberMedium;
}

.amazon-sign-in .amz-new-account span{
    font-size: 12px;
    font-family: emberMedium;
}

.auth-footer a{
    text-decoration: none;
    font-size: 12px;
    font-family: emberMedium;
}

.auth-footer .auth-footer-copyright{
    font-size: 12px;
    font-family: emberMedium;
}
